{% extends "index.html" %}
	{% block content %}
		<form action="index.php?controller=proprietario&action=create" method="post">
			  Nome:<br>
			  <input type="text" name="name" value="Joao"><br>
			  Email:<br>
			  <input type="text" name="email" value="naosabe@denada.com"><br><br>
			  Celular:<br>
			  <input type="text" name="phone" value="6848-6544"><br><br>
			  Endereco:<br>
			  <input type="text" name="adr" value="Norte da Muralha"><br><br>
			  <input type="submit" value="Submit">
		</form>
	{% endblock %}