{% extends "index.html" %}
	{% block content %}
		{% if owner is defined and owner is not empty %}
			<form action="index.php?controller=proprietario&action=update&id={{ owner.id }}" method="post">
				  Nome:<br>
				  <input type="text" name="name" value="{{ owner.name }}"><br>
				  Email:<br>
				  <input type="text" name="email" value="{{ owner.email }}"><br><br>
				  Celular:<br>
				  <input type="text" name="phone" value="{{ owner.phone }}"><br><br>
				  Endereco:<br>
				  <input type="text" name="adr" value="{{ owner.address }}"><br><br>
				  <input type="submit" value="Submit">
			</form>
		{% else %}
			<a> Nothing to see here </a>
		{% endif %}		
	{% endblock %}