<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}SimpleVet{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <a href="./Proprietario/create"> Gerenciar Proprietario</a><br/>
        <a href="./Animal/create"> Gerenciar Animais</a><br/>

        {#
        <ul id="navigation">
        {% for item in navigation %}
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
        {% endfor %}
        </ul>

        <h1>My Webpage</h1>
        {{ var }} #}
        {% endblock %}
    </body>
</html